{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark-soft border-dark sticky-top shadow-sm" id="mainNavbar">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="{% url 'index' %}">HSJ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" href="{% url 'index' %}">Inicio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



