<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-light border-end"
     style="width: 200px; height: 100vh; position: fixed; top: 0; left: 0; margin-top: 56px;">
    <ul class="nav nav-pills flex-column mb-auto">

        <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link active text-light bg-primary">
                Inicio
            </a>
        </li>
        <hr>
        <li>
            <a href="#" class="nav-link text-light">
                Ventas
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-light">
                Inventario
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-light">
                Productos
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-light">
                Finanzas
            </a>
        </li>
        <hr>
        <li>
            <a href="#" class="nav-link text-light">
                Configuración
            </a>
        </li>

    </ul>
</div>
